/* colors */

$coral: #FF7F50FF;
$black: #000;
$white: #fff;
$silver: #bbbbbb;

/* title */

$h1: 48px;
$h2: 32px;
$h3: 26px;
$h4: 18px;

/* text*/

$text: 18px;


/* link */

$fontW: 700;
$colorLink: coral;
